<p id="notice"><%= notice %></p>

<h1>Lexique</h1>

<table>
  <thead>
    <tr>
      <th>Abreviation</th>
      <th>Signification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mots.each do |mot| %>
      <tr>
        <td><%= mot.abreviation %></td>
        <td><%= mot.signification %></td>
        <td><%= link_to 'Voir', mot %></td>
        <td><%= link_to 'Editer', edit_mot_path(mot) %></td>
        <td><%= link_to 'Supprimer', mot, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce mot ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau mot', new_mot_path %>
